body:before {
  display: none;
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - estilos.sass";

}

body {
  background-image: url('/admin/img/fondo-formulario.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

form input {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

select {
  display: block;
}

.title {
  text-align: center;
}

.footer-clean .copyright {
  margin: 10px;
  font-size: 20px;
  text-align: center;
}